# start from scratch (exclude all)
/*

# include necessary things
# gradle
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties

# Markdown stuff
!README.md
!LICENSE

# source code
!src/

# git files
!.gitignore
